@import './../../variables.scss';

.footer{

    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    .container{
        display: flex;
        flex-direction: column;
    }
    h2{
        color:  $actionColor;
    }
    small{
        margin-bottom: 1rem;
    }
}